body {
  background-color: #b3b3b3;
}
* {
  font-family: 'Roboto', sans-serif;
}
.btn {
  border-radius: 0px;
}
.mainContainer {
  max-width: 900px;
  border: none !important;
}
.mainContainer .maincontainer-nav .user-container {
  padding: 10px;
  color: white;
}
.mainContainer .maincontainer-nav .user-container .prof-pic {
  border-radius: 30px;
  border: 1px solid #ccc;
  background-color: #ccc;
  height: 60px;
  width: 60px;
}
.mainContainer .maincontainer-nav .user-container h1 {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: white;
  text-shadow: 0px 0px 1px black;
}
.mainContainer .maincontainer-nav .user-container p {
  margin: 0px;
}
.mainContainer .maincontainer-nav .user-container center h1 {
  margin-top: 20px;
}
.mainContainer .mainContainer-main {
  border-radius: 0px;
  background-color: #000000 !important;
}
.mainContainer .mainContainer-main .mainContainer-navbar section h4 {
  color: #cccccc;
  padding-left: 15px;
  margin: 0px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}
.mainContainer .mainContainer-main .mainContainer-navbar section a {
  color: #e6e6e6;
  display: block;
  padding-top: 5px;
  font-size: 13px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.mainContainer .mainContainer-main .mainContainer-navbar section a:hover {
  text-decoration: none;
}
.mainContainer .mainContainer-main .mainContainer-navbar section a:selected {
  text-decoration: none;
}
.mainContainer .mainContainer-main .mainContainer-navbar section ul {
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px;
}
.mainContainer .mainContainer-main .mainContainer-navbar section ul li {
  list-style-type: none;
}
.mainContainer .mainContainer-main .mainContainer-navbar section ul .active {
  border-left: 3px solid #15A4FA;
}
.mainContainer .mainContainer-main .mainContainer-navbar section:last-child {
  border-bottom: none !important;
}
.mainContainer .mainContainer-main .mainContainer-dynamic {
  background-color: #e8e8e8;
  min-height: 300px;
  padding-bottom: 10px;
}
.mainContainer .mainContainer-main .mainContainer-dynamic .mainContainer-alert {
  margin: 0px;
  margin-top: 15px;
}
.mainContainer .mainContainer-main .mainContainer-dynamic .mainContainer-uiview {
  margin-top: 15px;
}
.mainContainer .mainContainer-main .mainContainer-dynamic .mainContainer-uiview table {
  margin: 0px;
}
.table-view-header .btn {
  border-radius: 0px !important;
}
.table-view-header h4 {
  padding: 0px;
  margin: 0px;
}
.general-empty {
  padding-top: 20px;
  padding-bottom: 20px;
}
.general-empty i {
  font-size: 50px;
}
.general-empty p {
  margin-top: 10px;
}
.dynamicTable {
  border: 1px solid #b3b3b3;
  margin-top: 15px;
}
.dynamicTable table td {
  border: 1px solid #cccccc;
  padding: 0px !important;
  margin: 0px !important;
}
.dynamicTable table thead th,
.dynamicTable table thead td {
  background-color: #ccc;
}
.dynamicTable table input,
.dynamicTable table select {
  margin: 0px !important;
  border: none !important;
}
.dynamicTable table input:select,
.dynamicTable table select:select,
.dynamicTable table input focus,
.dynamicTable table select focus,
.dynamicTable table input active,
.dynamicTable table select active {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}
.dynamicTable table .btn {
  padding: 7px;
  border-radius: 0px !important;
}
.borderify {
  border: 1px solid black;
}
.rm-padding {
  padding: 0px;
}
.blur {
  background: rgba(0, 0, 0, 0.4);
  border: 2px dashed transparent;
}
.customer-list {
  padding-top: 5px;
  padding-bottom: 5px;
}
.customer-list .dropdown-menu {
  margin-left: -95px;
}
.customer-list .nav a:hover {
  cursor: pointer;
}
.customer-list .table th:hover {
  cursor: pointer;
}
.customer-list .customer-pagination-container ul {
  margin: 0px;
}
.customer-list .customer-row .customer-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.customer-list .customer-row .customer-name .prof_pic {
  height: 30px;
  width: 30px;
  border-radius: 80px;
  margin-right: 10px;
  border: 1px solid #ccc;
}
.customer-list .customer-row .customer-name .fullname {
  font-size: 15px;
}
.customer-registration {
  border: none;
}
.customer-registration .registration-sections {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white !important;
}
.customer-registration .registration-sections a.btn {
  border-radius: 999px;
}
.customer-registration .border-dashed {
  padding-bottom: 0px !important;
}
.customer-registration .item-input {
  padding: 5px;
  margin: 0px;
}
.customer-registration .item-input [class^='col'] {
  margin: 0px;
  padding: 10px;
}
.customer-registration .item-input .duplicate-label {
  cursor: pointer;
}
.customer-registration .item-input .multiple-items {
  position: relative;
}
.customer-registration .item-input .multiple-items .float-number {
  position: absolute;
  bottom: 10px;
  left: 0px;
  font-size: 10px;
}
.customer-registration .item-input .multiple-items input {
  padding-left: 17px;
  padding-right: 27px;
  margin-bottom: 10px;
}
.customer-registration .item-input .multiple-items input:last-child {
  margin-bottom: 0px;
}
.customer-registration .item-input .multiple-items .btn-danger {
  position: absolute;
  bottom: 7px;
  right: 0px;
}
.customer-registration .item-input label {
  color: #666666;
  font-size: 12px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.customer-registration .item-input h5 {
  margin: 0px;
  font-weight: bold;
}
.customer-registration .item-input input,
.customer-registration .item-input textarea {
  border: none;
  box-shadow: none;
  resize: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin: 0px;
  background-color: transparent !important;
}
.customer-registration .item-input input:focus,
.customer-registration .item-input textarea:focus {
  border-bottom: 1px solid #808080;
}
.customer-registration .item-input select {
  padding: 0px;
  padding-left: 5px;
}
.customer-registration .item-input select:focus {
  outline: none;
  border: 2px solid #ccc;
}
.customer-registration .item-input .ul-notes {
  font-size: 12px;
  font-weight: normal;
}
.customer-registration .item-input hr {
  margin: 0px !important;
  margin-top: 10px !important;
}
.customer-registration .header {
  padding-top: 10px;
}
.customer-registration .map-container {
  box-shadow: inset 0px 0px 2px #ccc;
  border-radius: 3px;
  padding: 0px;
  height: 215px;
  border: 1px solid #ccc;
}
.customer-tabs a a:focus {
  outline: none;
}
.customer-tabs a a:active {
  outline: none;
}
.customer-tabs .contact-person-tab {
  padding-top: 10px;
  padding-bottom: 10px;
}
.customer-tabs .contact-person-tab .well-sm {
  margin: 0px;
  margin-bottom: 5px;
  border-radius: 0px;
}
.customer-tabs .contact-person-tab .well-sm label {
  color: #808080;
}
.customer-tabs .contact-person-tab .border-dash h5 {
  font-weight: bold;
}
.customer-tabs .contact-person-tab .border-dash label {
  font-size: 11px;
  font-weight: normal;
}
.customer-tabs .contact-person-tab hr {
  margin: 0px !important;
  margin-top: 10px !important;
}
.customer-tabs .tab-content {
  background-color: white;
}
[ng-cloak=""] {
  display: none;
}
.mainchat-container {
  border-radius: 9px;
}
.mainchat-container [class^='col'] {
  margin: 0px;
  padding: 0px;
}
.mainchat-container .mainchat-table {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}
.mainchat-container .chat-item {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  padding: 5px;
  padding-left: 15px;
}
.mainchat-container .chat-item:first-child {
  margin-top: 0px !important;
}
.mainchat-container .chat-item label {
  font-weight: bold;
  color: #333333;
  font-size: 15px;
}
.mainchat-container .chat-item p {
  padding-top: 10px;
}
.mainchat-container .chat-ig input.form-control {
  border-radius: 0px;
}
.mainchat-container .chat-ig input.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #b3b3b3;
  border-left: 3px solid #3071A9;
}
.mainchat-container .chat-mine {
  border-left: 3px solid #3071A9;
}
.mainchat-container .chat-others {
  border-left: 3px solid #4d4d4d;
}

.thumbnail img, .thumbnail > a 
{
  height: 142px !important;
  width: 190px !important;
}

.joborderTable_style
{
  font-style:italic; 
  color:#ccc;
  word-break: break-all;
}

.width-add
{
  width: 100% !important;
}

#dropdown > li > a
{
  color: rgb(21,122,181);
}

#dropdown > li > a:hover
{
    background-color: #EEEEEE;
    color: rgb(21,122,181);
    height: 100%;
}

.red
{
  color: #C71C22;
}

.black
{
  color: #000000;
}

.nav.nav-pills.nav-stacked.main-menu.dropdown-menu
{
  width: 100% !important;
  padding: 0px;
}

#search
{
  height: 33px;
}

@media screen and (min-width: 768px) {
  
  #addOrd .modal-dialog  {width:95%;}

}
@media screen and (min-width: 768px) {
  
  #addOrdOnEdit .modal-dialog  {width:95%;}

}


.notbold{
    font-weight:normal
}​

.petersample td {

padding: 20px;
}
