<span style='color: #000'>294 frames</span>	<span style='color: #900'>44,544 KB</span>	<span style='color: #090'>12,939.78 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />